<html>
  <head>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body class="index-body">
    
  <div class="hero">
    <div class="form-container">
      <form action="/artist-search" method="GET">
        <input type="text" name="artistName" id="">
        <button class="main-button">Search for an artist</button>
      </form>
    </div>

  </div>


</body>

</html>